<div ng-show="renderResult">
	<h2>Isolate {{renderResult.isolate.displayName}}</h2>

	<div ng-if="renderResult.isolate.alternativeName.length > 0" class="row">
		<div class="col-md-6">
			<h4>Alternative isolate names</h4>
			<table class="table table-striped table-bordered">
				<tr ng-repeat="alternativeName in renderResult.isolate.alternativeName">
					<td>{{alternativeName}}</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h4>Isolate details</h4>
			<table class="table table-striped table-bordered">
				<thead>
				<col width="50%" />
				<col width="50%" />
				</thead>
				<tr>
					<td><b>Host Species</b></td>
					<td><em>{{handleNull(renderResult.isolate.host)}}</em></td>
				</tr>
				<tr>
					<td><b>Country of Origin</b></td>
					<td>{{renderResult.isolate.country ?
						(renderResult.isolate.country+"
						("+renderResult.isolate.country_iso+")"):"-"}}</td>
				</tr>
				<tr>
					<td><b>Place sampled</b></td>
					<td>{{handleNull(renderResult.isolate.placeSampled)}}</td>
				</tr>
				<tr ng-if="renderResult.isolate.country">
					<td><b>Global Region</b></td>
					<td>{{renderGlobalRegion(renderResult.isolate)}}</td>
				</tr>
				<tr>
					<td><b>Collection Date</b></td>
					<td>{{renderResult.isolate.collectionMonthDay ?
						renderResult.isolate.collectionMonthDay+"-" :
						""}}{{renderResult.isolate.collectionMonth ?
						renderResult.isolate.collectionMonth[0]+renderResult.isolate.collectionMonth.substring(1,3).toLowerCase()+"-"
						: ""}}{{renderResult.isolate.collectionYear ?
						renderResult.isolate.collectionYear : "-"}}</td>
				</tr>
				<tr>
					<td><b>Sample Type</b></td>
					<td>{{handleNull(renderResult.isolate.sampleType)}}</td>
				</tr>
				<tr>
					<td><b>Tissue Sampled</b></td>
					<td>{{handleNull(renderResult.isolate.tissueSampled)}}</td>
				</tr>
				<tr>
					<td><b>Passage Cells</b></td>
					<td>{{handleNull(renderResult.isolate.passageCells)}}</td>
				</tr>
				<tr>
					<td><b>Passage History</b></td>
					<td>{{handleNull(renderResult.isolate.passageHistory)}}</td>
				</tr>
			</table>
		</div>
		<div class="col-md-6">
			<h4>Sequence characteristics</h4>
	
			<table class="table table-striped table-bordered">
				<thead>
				<col width="50%" />
				<col width="50%" />
				</thead>
				<tr>
					<td><b>Complete Genome?</b> (10 complete segments)</td>
					<td>{{renderResult.isolate.completeGenome ? "Yes" : "No"}}</td>
				</tr>
			</table>
		</div>
	</div>


	<h4>Sequence details</h4>

	<table class="table table-striped table-bordered">
		<thead>
			<th>GenBank Accession</th>
			<th>Segment</th>
			<th>Length</th>
			<th>Complete segment?</th>
			<th>GenBank Creation Date</th>
			<th>GenBank Last Update Date</th>
			<th>Clade assignment</th>
			<th>Reference</th>
			<colgroup>
				<col span="1" style="width: 12%;">
				<col span="1" style="width: 6%;">
				<col span="1" style="width: 6%;">
				<col span="1" style="width: 6%;">
				<col span="1" style="width: 10%;">
				<col span="1" style="width: 10%;">
				<col span="1" style="width: 12%;">
				<col span="1" style="width: 12%;">
			</colgroup>
		</thead>
		<tbody>
			<tr ng-repeat="seq in renderResult.isolate.sequence">
				<td><a
					href="#project/sequence/{{seq.sourceName}}/{{seq.sequenceID}}"
					target="_blank">{{seq.sequenceID}}</a></td>
				<td>{{seq.segment}}</td>
				<td>{{seq.length}}</td>
				<td>{{seq.completeSegment ? "Yes" : "No"}}</td>
				<td>{{seq.create_date}}</td>
				<td>{{seq.update_date}}</td>
				<td ng-if="seq.alignmentMembership">
					<span ng-repeat="almtMember in seq.alignmentMembership">
						<span ng-if="almtMember.parentAlignment"><a href="#project/alignment/{{almtMember.parentAlignment.alignmentName}}" target="_blank">{{almtMember.parentAlignment.alignmentDisplayName}}</a> - </span>
					<a href="#project/alignment/{{almtMember.alignmentName}}" target="_blank">{{almtMember.alignmentDisplayName}}</a>
					</span></td>
				<td ng-if="!seq.alignmentMembership">-</td>
				<td ng-if="seq.publicationId"><a href="{{seq.publicationUrl}}" target="_blank">{{seq.publicationDisplayName}} [{{seq.publicationIndex}}] <i class="glyphicon glyphicon-link"></i></a></td>
				<td ng-if="!seq.publicationId">-</td>
			</tr>
		</tbody>
	</table>

	<h4 ng-if="renderResult.isolate.reference.length > 0">References</h4>

	<ol>
		<li ng-repeat="publication in renderResult.isolate.reference">
			<b>{{publication.title}}</b><br/>
			{{publication.authors}},
			{{publication.journal}} 
			{{(publication.volume != null && publication.issue != null) ? (publication.volume + "("+publication.issue+")" ) : (publication.volume != null ? publication.volume : "" ) }} 
			{{publication.pages != null ? publication.pages : "" }}
			({{publication.year}})<br/>
			<a href="{{publication.url}}" target="_blank">{{publication.url}} <i class="glyphicon glyphicon-link"></i></a>
		</li>
	</ol>



</div>