<div ng-show="renderResult">
	<h2>Sequence {{renderResult.sequence.sequenceID}}</h2>
	<p>
		<div ng-repeat="reference in renderResult.sequence.referenceSequence track by $index">
			Basis of reference sequence: 
			<a href="#project/reference/{{reference.name}}">
				{{reference.renderedName}}
			</a>
		</div>
	</p>
	<div class="row">
		<div class="col-md-6">
			<h4>Sequence details</h4>
			<table class="table table-striped table-bordered">
				<thead>
				<col width="50%" />
				<col width="50%" />
				</thead>
				<tr>
					<td><b>GenBank Entry</b></td>
					<td><a target="_blank"
						href="https://www.ncbi.nlm.nih.gov/nuccore/{{renderResult.sequence.sequenceID}}">{{renderResult.sequence.sequenceID}}
							<i class="glyphicon glyphicon-link"></i>
					</a></td>
				</tr>
				<tr>
					<td><b>GenBank Creation Date</b></td>
					<td>{{renderResult.sequence.creationDate}}</td>
				</tr>
				<tr>
					<td><b>GenBank Last Update Date</b></td>
					<td>{{renderResult.sequence.updateDate}}</td>
				</tr>
				<tr>
					<td><b>Sequence Length</b></td>
					<td>{{renderResult.sequence.length}}</td>
				</tr>
				<tr>
					<td><b>BTV Segment</b></td>
					<td>{{handleNull(renderResult.sequence.segment)}}</td>
				</tr>
				<tr>
					<td><b>Complete Segment?</b></td>
					<td>{{renderResult.sequence.completeSegment ? "Yes" : "No"}}</td>
				</tr>
				
				<tr ng-if="renderResult.sequence.segment == '2'">
					<td><b>Serotype (annotated in GenBank)</b></td>
					<td>{{handleNull(renderResult.sequence.gbSerotype)}}</td>
				</tr>
				<!-- <tr ng-if="renderResult.sequence.segment == '2' || renderResult.sequence.segment == '6'">
					<td><b>Serotype (detected by BTV-GLUE)</b></td>
					<td>{{handleNull(renderResult.sequence.recogniserSerotype)}}</td>
				</tr>
				<tr ng-if="renderResult.sequence.segment != '2' && renderResult.sequence.segment != '6'">
					<td><b>Serotype of segment 2 in the same isolate</b></td>
					<td>{{handleNull(renderResult.sequence.isolateSeg2Serotype)}}</td>
				</tr>
				<tr ng-if="renderResult.sequence.segment != '2' && renderResult.sequence.segment != '6'">
					<td><b>Serotype of segment 6 in the same isolate</b></td>
					<td>{{handleNull(renderResult.sequence.isolateSeg6Serotype)}}</td>
				</tr> -->
				<tbody
					ng-repeat="alignment in renderResult.sequence.alignmentMembership track by $index"
					ng-show="alignment.constrainingReference">
					<tr>
						<td><b>Segment clade assignment</b></td>
						<td><a href="#project/alignment/{{alignment.name}}">{{alignment.renderedName}}</a></td>
					</tr>
					<!-- commented out until alignments are populated
					<tr ng-if="alignment.featureCoverage">
						<td><b>Coverage of Genome Region</b><br/>based on homology with<br/><a href="#project/reference/{{alignment.constrainingReference.name}}">{{alignment.constrainingReference.renderedName}}</a></td>
						<td><div ng-repeat="featureCoverage in alignment.featureCoverage track by $index">{{featureCoverage.featureRenderedName}}: {{toFixed(featureCoverage.coveragePct,2)}}%</div></td>
					</tr> -->
				</tbody>
			</table>

			<div ng-show="renderResult.sequence.referenceText">
				<h4>Reference</h4>
				<a ng-show="renderResult.sequence.referenceUrl"
					href="{{renderResult.sequence.referenceUrl}}" target="_blank">
					{{renderResult.sequence.referenceText}} <i
					class="glyphicon glyphicon-link"></i>
				</a>
				<div ng-show="renderResult.sequence.referenceUrl == null">
					{{renderResult.sequence.referenceText}}</div>
			</div>
			</tr>
			</table>



		</div>
		<div class="col-md-6">
			<h4>Isolate details</h4>
			<table class="table table-striped table-bordered">
				<thead>
				<col width="50%" />
				<col width="50%" />
				</thead>
				<tr>
					<td><b>Isolate</b></td>
					<td><a ng-if="renderResult.sequence.isolateID" target="_blank"
						href="#/project/isolate/{{renderResult.sequence.isolateID}}">{{renderResult.sequence.isolateDisplayName}}</a>
					</td>
				</tr>
				<tr>
					<td><b>Host Species</b></td>
					<td><em>{{handleNull(renderResult.sequence.host)}}</em></td>
				</tr>
				<tr>
					<td><b>Country of Origin</b></td>
					<td>{{renderResult.sequence.country ?
						(renderResult.sequence.country+"
						("+renderResult.sequence.country_iso+")"):"-"}}</td>
				</tr>
				<tr>
					<td><b>Place sampled</b></td>
					<td>{{handleNull(renderResult.sequence.placeSampled)}}</td>
				</tr>
				<tr ng-if="renderResult.sequence.country">
					<td><b>Global Region</b></td>
					<td>{{renderGlobalRegion(renderResult.sequence)}}</td>
				</tr>
				<tr>
					<td><b>Collection Date</b></td>
					<td>{{renderResult.sequence.collectionMonthDay ?
						renderResult.sequence.collectionMonthDay+"-" :
						""}}{{renderResult.sequence.collectionMonth ?
						renderResult.sequence.collectionMonth[0]+renderResult.sequence.collectionMonth.substring(1,3).toLowerCase()+"-"
						: ""}}{{renderResult.sequence.collectionYear ?
						renderResult.sequence.collectionYear : "-"}}</td>
				</tr>
				<tr>
					<td><b>Sample Type</b></td>
					<td>{{handleNull(renderResult.sequence.sampleType)}}</td>
				</tr>
				<tr>
					<td><b>Tissue Sampled</b></td>
					<td>{{handleNull(renderResult.sequence.tissueSampled)}}</td>
				</tr>
				<tr>
					<td><b>Passage Cells</b></td>
					<td>{{handleNull(renderResult.sequence.passageCells)}}</td>
				</tr>
				<tr>
					<td><b>Passage History</b></td>
					<td>{{handleNull(renderResult.sequence.passageHistory)}}</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row" ng-if="renderResult.sequence.publication">
		<div class="col-md-12">
			<h4>Publication details</h4>
			<table class="table table-striped table-bordered">
				<thead>
					<col width="10%" />
					<col width="90%" />
				</thead>
				<tr>
					<td><b>Reference</b></td>				
					<td>
					<b>{{renderResult.sequence.publication.title}}</b>
{{renderResult.sequence.publication.authors}}, 
{{renderResult.sequence.publication.journal}}
{{ (renderResult.sequence.publication.volume != null && renderResult.sequence.publication.issue != null) ? 
	( renderResult.sequence.publication.volume +
	" ("+renderResult.sequence.publication.issue+")" ) :
	( renderResult.sequence.publication.volume != null ? 
	renderResult.sequence.publication.volume : "" ) }}
{{ renderResult.sequence.publication.pages != null ? renderResult.sequence.publication.pages : "" }}
({{renderResult.sequence.publication.year}})
					</td>				
				</tr>
				<tr>
					<td><b>Online link</b></td>				
					<td><a href="{{renderResult.sequence.publication.url}}" target="_blank">{{renderResult.sequence.publication.url}} <i class="glyphicon glyphicon-link"></i></a></td>				
				</tr>
			</table>
		</div>
	</div>



</div>