<h2>The BTV-GLUE team</h2>


<div class="row" style="padding-top:25px">
	<div class="col-md-2"><img style="border:2px solid #aaaaaa" src="images/RobGifford.jpg"/></div>
	<div class="col-md-10">
		<h3 style="margin-top:0px"><a href="https://www.gla.ac.uk/researchinstitutes/iii/staff/robertgifford/">Dr Rob Gifford</a></h3>
		<h4>Research Bioinformatician / Evolutionary Biologist at the Centre for Virus Research</h4>
		<p style="padding-top:20px;">
			<a target="_blank"
				href="https://www.researchgate.net/profile/Robert_Gifford">
				<img style="width: 60px; padding-right: 10px" align="left"
				alt="Rob Gifford on ResearchGate"
				src="../gluetools-web/www/images/RG_square_green.jpg">
			</a> <a href="https://twitter.com/intent/follow?screen_name=paleovirologist">
				<img style="width: 60px; padding-right: 10px" align="left"
				alt="Rob Gifford on Twitter"
				src="../gluetools-web/www/images/Twitter_Logo_White_On_Blue.png">
			</a>
		</p>
		
	</div>
</div>

<div class="row" style="padding-top:25px">
	<div class="col-md-2"><img style="border:2px solid #aaaaaa" src="images/OrgesKoci.jpg"/></div>
	<div class="col-md-10"	>
		<h3 style="margin-top:0px"><a href="https://www.gla.ac.uk/researchinstitutes/iii/staff/?webapp=staffcontact&action=person&id=4edce9e08a94">Dr Orges Koci</a></h3>
		<h4>Research Software Engineer at the Centre for Virus Research</h4>
		<p style="padding-top:20px;">
			<a target="_blank"
				href="https://www.researchgate.net/profile/Orges_Koci2">
				<img style="width: 60px; padding-right: 10px" align="left"
				alt="Josh Singer on ResearchGate"
				src="../gluetools-web/www/images/RG_square_green.jpg">
			</a>
		</p>
	</div>
</div>

<div class="row" style="padding-top:25px">
	<div class="col-md-2"><img style="border:2px solid #aaaaaa" src="images/AfridaMukaddas.jpeg"/></div>
	<div class="col-md-10"	>
		<h3 style="margin-top:0px"><a href="https://www.gla.ac.uk/researchinstitutes/iii/staff/">Afrida Mukaddas</a></h3>
		<h4>Research Software Engineer at Centre for Virus Research</h4>
		<p style="padding-top:20px;">
			<a target="_blank"
				href="https://www.researchgate.net/profile/">
				<img style="width: 60px; padding-right: 10px" align="left"
				alt="Afrida Mukaddas on ResearchGate"
				src="../gluetools-web/www/images/RG_square_green.jpg">
			</a>
		</p>
	</div>
</div>

<div class="row" style="padding-top:25px">
	<div class="col-md-2"><img style="border:2px solid #aaaaaa" src="images/PeterMertens.jpg"/></div>
	<div class="col-md-10"	>
		<h3 style="margin-top:0px"><a href="https://www.nottingham.ac.uk/vet/people/peter.mertens">Professor Peter Mertens</a></h3>
		<h4>Chair in Virology at the School of Veterinary Medicine and Science, University of Nottingham</h4>
		<p style="padding-top:20px;">
			<a target="_blank"
				href="https://www.researchgate.net/profile/Peter_Mertens4">
				<img style="width: 60px; padding-right: 10px" align="left"
				alt="Peter Mertens on ResearchGate"
				src="../gluetools-web/www/images/RG_square_green.jpg">
			</a> 
		</p>
	</div>
</div>



<div class="row" style="padding-top:25px">
	<div class="col-md-2"><img style="border:2px solid #aaaaaa" src="images/KyriakiNomikou.jpg"/></div>
	<div class="col-md-10"	>
		<h3 style="margin-top:0px">Dr Kyriaki Nomikou</h3>
		<h4>Senior Research Fellow at the School of Veterinary Medicine and Science, University of Nottingham</h4>
		<p style="padding-top:20px;">
			<a target="_blank"
				href="https://www.researchgate.net/profile/Kyriaki_Nomikou">
				<img style="width: 60px; padding-right: 10px" align="left"
				alt="Kyriaki Nomikou on ResearchGate"
				src="../gluetools-web/www/images/RG_square_green.jpg">
			</a> <a href="https://twitter.com/intent/follow?screen_name=kiki_nomikou">
				<img style="width: 60px; padding-right: 10px" align="left"
				alt="Kyriaki Nomikou on Twitter"
				src="../gluetools-web/www/images/Twitter_Logo_White_On_Blue.png">
			</a>
		</p>
	</div>
</div>



<div class="row" style="padding-top:25px">
	<div class="col-md-2"><img style="border:2px solid #aaaaaa" src="images/MassimoPalmarini.jpg"/></div>
	<div class="col-md-10"	>
		<h3 style="margin-top:0px"><a href="https://www.gla.ac.uk/researchinstitutes/iii/staff/massimopalmarini/">Professor Massimo Palmarini</a></h3>
		<h4>Director of Centre for Virus Research</h4>
		<p style="padding-top:20px;">
			<a target="_blank"
				href="https://www.researchgate.net/profile/Massimo_Palmarini">
				<img style="width: 60px; padding-right: 10px" align="left"
				alt="Massimo Palmarini on ResearchGate"
				src="../gluetools-web/www/images/RG_square_green.jpg">
			</a> <a href="https://twitter.com/intent/follow?screen_name=cvr_dir">
				<img style="width: 60px; padding-right: 10px" align="left"
				alt="Massimo Palmarini on Twitter"
				src="../gluetools-web/www/images/Twitter_Logo_White_On_Blue.png">
			</a>
		</p>
	</div>
</div>


<div class="row" style="padding-top:25px">
	<div class="col-md-2"><img style="border:2px solid #aaaaaa" src="images/JoshSinger.jpg"/></div>
	<div class="col-md-10"	>
		<h3 style="margin-top:0px"><a href="https://www.gla.ac.uk/researchinstitutes/iii/staff/joshsinger/">Dr Josh Singer (former team member)</a></h3>
		<h4>Former Research Software Engineer at the Centre for Virus Research</h4>
		<p style="padding-top:20px;">
			<a target="_blank"
				href="https://www.researchgate.net/profile/Josh_Singer3">
				<img style="width: 60px; padding-right: 10px" align="left"
				alt="Josh Singer on ResearchGate"
				src="../gluetools-web/www/images/RG_square_green.jpg">
			</a> <a href="https://twitter.com/intent/follow?screen_name=joshWentViral">
				<img style="width: 60px; padding-right: 10px" align="left"
				alt="Josh Singer on Twitter"
				src="../gluetools-web/www/images/Twitter_Logo_White_On_Blue.png">
			</a>
		</p>
	</div>
</div>

